<div class="container mt-5 text-center">
  <div>
    <h5> Address You Booked</h5>
  </div>
  <div class="testimonial">




    {{#each adrs}}

    <div class="card" id="add{{this._id.Address.Housename}}phn{{this._id.CustomerPhone}}name{{this._id.CustomerName}}"
      style="display: block;">
      <div class="layer"></div>
      <div class="content mt-3">


        <p>{{this._id.CustomerName}}</p><br>
        <p>{{this._id.Address.Housename}}</p><br>
        <p>{{this._id.Address.LandMark}}</p><br>
        <p>{{this._id.Address.Street}}</p><br>
        <p>{{this._id.Address.City}}</p><br>
        <p>{{this._id.Address.State}}</p><br>
        <p>{{this._id.CustomerPhone}}</p><br><br><br>

        <button class="btn btn-primary change" type="button"
          onclick="EditAddress('{{this._id.Address.Housename}}','{{this._id.Address.LandMark}}','{{this._id.CustomerPhone}}','{{this._id.CustomerName}}')"><span>Edit</span></button><br><br>


        <button class="btn btn-primary change" type="button"
          onclick="deleteAddress('{{this._id.Address.Housename}}','{{this._id.Address.LandMark}}','{{this._id.CustomerPhone}}','{{this._id.CustomerName}}')"><span>Delete</span></button>

      </div>
    </div>

    {{/each}}
      
  </div>
   
</div>
<style>
  .testimonial {
    margin: 110px auto 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
  }

  .testimonial .card {
    position: relative;
    margin: 0 auto;
    width: 350px;
    background: rgba(247, 243, 243, 0);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .5);
    overflow: hidden;
  }

  .testimonial .card .layer {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#FCBA44, #FCBA44);
    z-index: 1;
    transition: 0.5s;
  }

  .testimonial .card:hover .layer {
    top: 0;
  }

  .testimonial .card .content {
    position: relative;
    z-index: 2;
  }

  .testimonial .card .content p {
    font-size: 14px;
    line-height: 13px;
  }


  .testimonial .card:hover .content .details span {
    color: #fff;
  }
</style>
<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
                required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab"
                    aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
            </li>
           
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                aria-labelledby="mobile-menu-link">
                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                       <li>
                                    <a href="/"  class="sf-with-ul">Home</a>
                                </li>
                                <li>
                                    <a href="/product/?page=1" class="sf-with-ul">Product</a>
                                </li>
                                {{#if userName}}
                                <li>
                                    <a href="/wallet" class="sf-with-ul">MY Account</a>
                                </li>
                                
                                <li>
                                        <a class="sf-with-ul" id="tab-dashboard-link"
                                            data-toggle="tab" href="#tab-dashboard">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="/order" class="sf-with-ul"><span>Orders</span></a>
                                    </li>
                                    <li
                                    >
                                        <a href="/wishlist"
                                            class="sf-with-ul"><span>whishlist</span></a>

                                    </li>

                                     <li class="nav-item mt-1 ">
                                        <a href="/walletOg"
                                            class="sf-with-ul"><span>Wallet</span></a>

                                    </li>
                                    <li>
                                        <a href="/cart"
                                            class="sf-with-ul"><span>Cart</span></a>

                                    </li>

                                   <li>
                                        <a href="/editaddress"
                                            class="sf-with-ul"><span>Edit Address</span></a>

                                    </li>

                                    <li class="nav-item ">
                                        <a href="/logout" class="sf-with-ul"><span>Sign
                                                Out</span></a>

                                    </li>
                                    {{/if}}
                    </ul>
                </nav><!-- End .mobile-nav -->
            </div><!-- .End .tab-pane -->
            
        </div><!-- End .tab-content -->

        
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->