<body>
	<div class="page-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="toolbox">
						<div class="toolbox-left">
							
						</div><!-- End .toolbox-left -->

						<div class="toolbox-right">
							<div class="toolbox-sort">
								<label for="sortby">Sort by:</label>
								<div class="select-custom">
									<select name="sortby" id="sortby" class="form-control">
										<option value="popularity" selected="selected">Most Popular</option>
										<option value="rating">Most Rated</option>
										<option value="date">Date</option>
									</select>
								</div>
							</div><!-- End .toolbox-sort -->
							<div class="toolbox-layout">
								<a href="category-list.html" class="btn-layout">
									<svg width="16" height="10">
										<rect x="0" y="0" width="4" height="4" />
										<rect x="6" y="0" width="10" height="4" />
										<rect x="0" y="6" width="4" height="4" />
										<rect x="6" y="6" width="10" height="4" />
									</svg>
								</a>

								<a href="category-2cols.html" class="btn-layout">
									<svg width="10" height="10">
										<rect x="0" y="0" width="4" height="4" />
										<rect x="6" y="0" width="4" height="4" />
										<rect x="0" y="6" width="4" height="4" />
										<rect x="6" y="6" width="4" height="4" />
									</svg>
								</a>

								<a href="category.html" class="btn-layout active">
									<svg width="16" height="10">
										<rect x="0" y="0" width="4" height="4" />
										<rect x="6" y="0" width="4" height="4" />
										<rect x="12" y="0" width="4" height="4" />
										<rect x="0" y="6" width="4" height="4" />
										<rect x="6" y="6" width="4" height="4" />
										<rect x="12" y="6" width="4" height="4" />
									</svg>
								</a>

								<a href="category-4cols.html" class="btn-layout">
									<svg width="22" height="10">
										<rect x="0" y="0" width="4" height="4" />
										<rect x="6" y="0" width="4" height="4" />
										<rect x="12" y="0" width="4" height="4" />
										<rect x="18" y="0" width="4" height="4" />
										<rect x="0" y="6" width="4" height="4" />
										<rect x="6" y="6" width="4" height="4" />
										<rect x="12" y="6" width="4" height="4" />
										<rect x="18" y="6" width="4" height="4" />
									</svg>
								</a>
							</div><!-- End .toolbox-layout -->
						</div><!-- End .toolbox-right -->
					</div><!-- End .toolbox -->

					<div class="products mb-3">

						<div class="row justify-content-center">
							{{#each filterProducts }}
							<div class="col-6 col-md-4 col-lg-4">
								<div class="product product-7 text-center">
									<figure class="product-media">
										<span class="product-label label-new">New</span>
										<a href="/productview/{{this._id}}">
											<img src="/images/product/{{this.img.[0]}}" alt="Product image"
												class="product-image" style="width: 250px; height:300px;">
										</a>

										<div class="product-action-vertical">
											<a href="/addToWishlist/{{this._id}}"
												class="btn-product-icon btn-wishlist btn-expandable"><span>add to
													wishlist</span></a>
										</div><!-- End .product-action-vertical -->

										<div class="product-action">
											<a href="/addToCart/{{this._id}}" class="added btn-product btn-cart"
												title="Add to cart"><span>add To cart</span></a>
										</div><!-- End .product-action -->
									</figure><!-- End .product-media -->

									<div class="product-body">
										<div class="product-cat">
											<a href="#"></a>
										</div><!-- End .product-cat -->
										<h3 class="product-title"><a href=""></a>{{this.phone}}</h3>
										<!-- End .product-title -->
										<div class="product-price">

											{{#if this.Percentage}}
											<span>₹{{this.offPrice}}&nbsp;&nbsp;</span>
											₹ <s>{{this.originalPrice}} </s>
											{{else}}
											₹{{this.price}}
											{{/if}}
											<span>&nbsp;&nbsp;{{this.Percentage}}%</span>
										</div><!-- End .product-price -->
										<div class="ratings-container">
											<div class="ratings">
												<div class="ratings-val" style="width: 20%;"></div>
												<!-- End .ratings-val -->
											</div><!-- End .ratings -->
											<span class="ratings-text">( 2 Reviews )</span>
										</div><!-- End .rating-container -->

										<div class="product-nav product-nav-thumbs">
											<a href="#" class="active">
												<img src="/images/product/{{this.img.[1]}}" alt="product desc"
													style="width: 60px; height: 50px;">
											</a>
											<a href="#">
												<img src="/images/product/{{this.img.[2]}}" alt="product desc"
													style="width: 60px; height: 50px;">
											</a>

											<a href="#">
												<img src="/images/product/{{this.img.[3]}}" alt="product desc"
													style="width: 60px; height: 50px;">
											</a>
										</div><!-- End .product-nav -->
									</div><!-- End .product-body -->
								</div><!-- End .product -->
							</div><!-- End .col-sm-6 col-lg-4 -->
							{{/each}}
						</div><!-- End .row -->
					</div><!-- End .products -->

					<nav aria-label="Page navigation">
						<ul class="pagination justify-content-center">
							<li class="page-item disabled">
								<a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
									aria-disabled="true">
									<span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
								</a>
							</li>
							<li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item-total">of 6</li>
							<li class="page-item">
								<a class="page-link page-link-next" href="#" aria-label="Next">
									Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
								</a>
							</li>
						</ul>
					</nav>
				</div><!-- End .col-lg-9 -->
				<aside class="col-lg-3 order-lg-first">
					<div class="sidebar sidebar-shop">
						<div class="widget widget-clean">
							<label>Filters:</label>
							<a href="#" class="sidebar-filter-clear">Clean All</a>
						</div><!-- End .widget widget-clean -->

						<div class="widget widget-collapsible">
							<h3 class="widget-title">
								<a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true"
									aria-controls="widget-1">
									Category
								</a>
							</h3><!-- End .widget-title -->
						</div><!-- End .widget -->

						

						<div class="widget widget-collapsible mt-1">
							<h3 class="widget-title">
								<a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true"
									aria-controls="widget-4">
									 Brand
								</a>
							</h3><!-- End .widget-title -->

							<div class="collapse show" id="widget-4">
								<div class="widget-body">

									<form action="/filter" method="get">
										{{#each brands}}
										<div class="filter-items">

											<div class="filter-item">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input" name="brandName"
														id="brand{{this._id}}" value="{{this._id}}">
													<label class="custom-control-label"
														for="brand{{this._id}}">{{this.category}}</label>
												</div><!-- End .custom-checkbox -->
											</div><!-- End .filter-item -->


										</div><!-- End .filter-items -->
										{{/each}}


										<button type="submit" class=" btn btn-primary">Submit</button>
									</form>
								</div><!-- End .widget-body -->


							</div><!-- End .collapse -->
						</div><!-- End .widget -->

						<div class="widget widget-collapsible">
							<h3 class="widget-title">
								<a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true"
									aria-controls="widget-5">
									Price
								</a>
							</h3><!-- End .widget-title -->

							<div class="collapse show" id="widget-5">
								<div class="widget-body">
									<div class="filter-price">
										<div class="filter-price-text">
											Price Range:
											<span id="filter-price-range"></span>
										</div><!-- End .filter-price-text -->

										<div id="price-slider"></div><!-- End #price-slider -->
									</div><!-- End .filter-price -->
								</div><!-- End .widget-body -->
							</div><!-- End .collapse -->
						</div><!-- End .widget -->
					</div><!-- End .sidebar sidebar-shop -->
				</aside><!-- End .col-lg-3 -->
			</div><!-- End .row -->
		</div><!-- End .container -->
	</div><!-- End .page-content -->
	</div><!-- End .page-wrapper -->
	<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
                required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab"
                    aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
            </li>
           
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                aria-labelledby="mobile-menu-link">
                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                       <li>
                                    <a href="/"  class="sf-with-ul">Home</a>
                                </li>
                                <li>
                                    <a href="/product/?page=1" class="sf-with-ul">Product</a>
                                </li>
                                {{#if userName}}
                                <li>
                                    <a href="/wallet" class="sf-with-ul">MY Account</a>
                                </li>
                                
                                <li>
                                        <a class="sf-with-ul" id="tab-dashboard-link"
                                            data-toggle="tab" href="#tab-dashboard">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="/order" class="sf-with-ul"><span>Orders</span></a>
                                    </li>
                                    <li
                                    >
                                        <a href="/wishlist"
                                            class="sf-with-ul"><span>whishlist</span></a>

                                    </li>

                                     <li class="nav-item mt-1 ">
                                        <a href="/walletOg"
                                            class="sf-with-ul"><span>Wallet</span></a>

                                    </li>
                                    <li>
                                        <a href="/cart"
                                            class="sf-with-ul"><span>Cart</span></a>

                                    </li>

                                   <li>
                                        <a href="/editaddress"
                                            class="sf-with-ul"><span>Edit Address</span></a>

                                    </li>

                                    <li class="nav-item ">
                                        <a href="/logout" class="sf-with-ul"><span>Sign
                                                Out</span></a>

                                    </li>
                                    {{/if}}
                    </ul>
                </nav><!-- End .mobile-nav -->
            </div><!-- .End .tab-pane -->
            
        </div><!-- End .tab-content -->

        
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->

	<script>
		function addToCart(proId) {

			$.ajax({
				url: '/addToCart/' + proId,
				method: 'get',
				success: (response) => {
					if (response.status) {
						let count = $('#cart-count').html()

						count = parseInt(count) + 1

						$("#cart-count").html(count)

					}



				}
			})
		}


		$('.added').on('click', function (e) {
			e.preventDefault();
			var self = $(this);
			console.log(self.data('title'));
			Swal.fire(
				'Product Added to cart! ',
				'',
				'success'
			).then((result) => {


				location.href = self.attr('href');

			})

		})
	</script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
		crossorigin="anonymous"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>