<div class="page-wrapper">
    <main class="main">
        <div class="intro-section pt-3 pb-3 mb-2">
            <div class="container">

                <div class="row">
                    <div class="col-lg-8">

                        <div class="intro-slider-container slider-container-ratio mb-2 mb-lg-0">
                            <div class="intro-slider owl-carousel owl-simple owl-dark owl-nav-inside" data-toggle="owl"
                                data-owl-options='{
                                        "nav": false, 
                                        "dots": true,
                                        "responsive": {
                                            "768": {
                                                "nav": true,
                                                "dots": false
                                            }
                                        }
                                    }'>



                                <div class="intro-slide">
                                    <figure class="slide-image">
                                        <picture>
                                            <source media="(max-width: 480px)"
                                                srcset="assets/images/demos/demo-3/slider/slide-2-480w.jpg">
                                            <img src="/assets/images/slider/maxresdefault.jpg" alt="Image Desc">
                                        </picture>
                                    </figure><!-- End .slide-image -->

                                    <div class="intro-content">
                                        <h3 class="intro-subtitle text-primary">SAMSUNG S22</h3>
                                        <!-- End .h3 intro-subtitle -->
                                        <h1 class="intro-title text-primary">
                                            Ultra <br>
                                        </h1><!-- End .intro-title -->

                                        <div class="intro-price  text-primary">
                                            <sup class="intro-old-price">14999</sup>
                                            <span class="text-primary">
                                                <sup></sup>
                                            </span>
                                        </div><!-- End .intro-price -->

                                        <a href="#" class="btn btn-primary btn-round">
                                            <span>Click Here</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </a>
                                    </div><!-- End .intro-content -->
                                </div><!-- End .intro-slide -->
                            </div><!-- End .intro-slider owl-carousel owl-simple -->

                            <span class="slider-loader"></span><!-- End .slider-loader -->
                        </div><!-- End .intro-slider-container -->
                    </div><!-- End .col-lg-8 -->

                    <div class="col-lg-4">
                        <div class="intro-banners">
                            <div class="banner  mb-lg-1 mb-xl-2">
                                <a href="#">
                                    <img src="https://as2.ftcdn.net/v2/jpg/02/32/80/13/1000_F_232801321_0gYbAguzuvOvP1eOHaH9LL9tDaRna63R.jpg"
                                        alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#"></a>
                                    </h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title"><a href="#"> <br></a></h3>
                                    <!-- End .banner-title -->

                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->

                            <div class="banner mt-4 mb-0">
                                <a href="#">
                                    <img src="https://img.freepik.com/premium-psd/two-phones-mockup-front-view_7838-503.jpg?size=626&ext=jpg&ga=GA1.2.1289616643.1664436375"
                                        alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle d-lg-none d-xl-block"><a href="#"></a></h4>
                                    <!-- End .banner-subtitle -->
                                    <h3 class="banner-title"><a href="#"> <span>
                                            </span></a></h3><!-- End .banner-title -->

                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .intro-banners -->
                    </div><!-- End .col-lg-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .intro-section -->

        <div class="container featured">
            <ul class="nav nav-pills nav-border-anim nav-big justify-content-center mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="products-featured-link" data-toggle="tab"
                        href="#products-featured-tab" role="tab" aria-controls="products-featured-tab"
                        aria-selected="true">New</a>
                </li>
                <li class="nav-item">

            </ul>

            <div class="tab-content tab-content-carousel">
                <div class="tab-pane p-0 fade show active" id="products-featured-tab" role="tabpanel"
                    aria-labelledby="products-featured-link">
                    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                        data-owl-options='{
                                "nav": true, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "600": {
                                        "items":2
                                    },
                                    "992": {
                                        "items":3
                                    },
                                    "1200": {
                                        "items":4
                                    }
                                }
                            }'>

                        {{#each products}}
                        <div class="product product-2">
                            <figure class="product-media">
                                <a href="/productview/{{this._id}}">
                                    <img src="/images/product/{{this.img.[0]}}" alt="Product image"
                                        class="product-image" style="width: 250px; height:300px;">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="/addToWishlist/{{this._id}}"
                                        class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                            wishlist</span></a>
                                </div><!-- End .product-action -->

                                <div class="product-action product-action-dark">

                                    <a href="/addToCart/{{this._id}}" class="btn-product btn-cart"
                                        title="Add to cart"><span>add to cart</span></a>


                                    <a href="/productview/{{this._id}}" class="btn-product btn-quickview"
                                        title="Quick view"><span>quick view</span></a>
                                </div><!-- End .product-action -->


                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#"></a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="#">{{this.phone}}</a></h3><!-- End .product-title -->
                                <div class="product-price">

                                    {{#if this.Percentage}}
                                    <span>₹{{this.offPrice}}&nbsp;&nbsp;</span>
                                    ₹ <s>{{this.originalPrice}} </s>
                                    <span>&nbsp;&nbsp;{{this.Percentage}}%</span>
                                    {{else}}
                                    ₹{{this.price}}
                                    {{/if}}

                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                        {{/each}}







                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="products-sale-tab" role="tabpanel"
                        aria-labelledby="products-sale-link">

                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane p-0 fade" id="products-top-tab" role="tabpanel"
                        aria-labelledby="products-top-link">

                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .container -->

            <div class="mb-7 mb-lg-11"></div><!-- End .mb-7 -->


            <div class="bg-light deal-container pt-7 pb-7 mb-5">
                <div class="container">
                    <div class="heading text-center mb-4">
                        <h2 class="title">Deals & Outlet</h2><!-- End .title -->
                        <p class="title-desc">Today’s deal and more</p><!-- End .title-desc -->
                    </div><!-- End .heading -->

                    <div class="row">
                        <div class="col-lg-6 deal-col">
                            <div class="deal"
                                style="background-image: url('assets/images/demos/demo-3/deal/bg-1.jpg');">
                                <div class="deal-top">
                                    <h2>Deal of the Day.</h2>
                                    <h4>Limited quantities. </h4>
                                </div><!-- End .deal-top -->

                                <div class="deal-content">
                                    <h3 class="product-title"><a href="product.html">Home Smart Speaker with Google
                                            Assistant</a></h3><!-- End .product-title -->

                                    <div class="product-price">
                                        <span class="new-price">$129.00</span>
                                        <span class="old-price">Was $150.99</span>
                                    </div><!-- End .product-price -->

                                    <a href="product.html" class="btn btn-link"><span>Shop Now</span><i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .deal-content -->

                                <div class="deal-bottom">
                                    <div class="deal-countdown" data-until="+10h"></div><!-- End .deal-countdown -->
                                </div><!-- End .deal-bottom -->
                            </div><!-- End .deal -->
                        </div><!-- End .col-lg-6 -->
                        <div class="col-lg-6">
                            <div class="products">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="product product-2">
                                            <figure class="product-media">
                                                <span class="product-label label-circle label-top">Top</span>
                                                <span class="product-label label-circle label-sale">Sale</span>
                                                <a href="product.html">
                                                    <img src="assets/images/demos/demo-3/products/product-5.jpg"
                                                        alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#"
                                                        class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                            to wishlist</span></a>
                                                </div><!-- End .product-action -->

                                                <div class="product-action product-action-dark">
                                                    <a href="#" class="btn-product btn-cart"
                                                        title="Add to cart"><span>add to cart</span></a>
                                                    <a href="popup/quickView.html" class="btn-product btn-quickview"
                                                        title="Quick view"><span>quick view</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">Digital Cameras</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="product.html">Canon - EOS 5D Mark IV
                                                        DSLR Camera</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    <span class="new-price">$3,599.99</span>
                                                    <span class="old-price">Was $3,999.99</span>
                                                </div><!-- End .product-price -->

                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-6">
                                        <div class="product product-2">
                                            <figure class="product-media">
                                                <span class="product-label label-circle label-sale">Sale</span>
                                                <a href="product.html">
                                                    <img src="assets/images/demos/demo-3/products/product-6.jpg"
                                                        alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#"
                                                        class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                            to wishlist</span></a>
                                                </div><!-- End .product-action -->

                                                <div class="product-action product-action-dark">
                                                    <a href="#" class="btn-product btn-cart"
                                                        title="Add to cart"><span>add to cart</span></a>
                                                    <a href="popup/quickView.html" class="btn-product btn-quickview"
                                                        title="Quick view"><span>quick view</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">Computers & Tablets</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="product.html">Apple - Smart Keyboard
                                                        Folio for 11-inch iPad Pro</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    <span class="new-price">$179.00</span>
                                                    <span class="old-price">Was $200.99</span>
                                                </div><!-- End .product-price -->

                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .products -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->


    </main><!-- End .main -->

    <footer class="footer">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="/assets/images/Screenshot 2022-11-07 190743.png" class="footer-logo"
                                alt="Footer Logo" width="105" height="25">
                            <p>Purchase your dream Phones </p>

                            <div class="widget-call">
                                <i class="icon-phone"></i>
                                Got Question? Call us 24/7
                                <a href="tel:#">+919446166285</a>
                            </div><!-- End .widget-call -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">About TelMart</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">How to shop on Molla</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->
    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>



<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form action="#" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
                required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab"
                    aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
            </li>
           
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                aria-labelledby="mobile-menu-link">
                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                       <li>
                                    <a href="/"  class="sf-with-ul">Home</a>
                                </li>
                                <li>
                                    <a href="/product/?page=1" class="sf-with-ul">Product</a>
                                </li>
                                {{#if userName}}
                                <li>
                                    <a href="/wallet" class="sf-with-ul">MY Account</a>
                                </li>
                                
                                <li>
                                        <a class="sf-with-ul" id="tab-dashboard-link"
                                            data-toggle="tab" href="#tab-dashboard">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="/order" class="sf-with-ul"><span>Orders</span></a>
                                    </li>
                                    <li
                                    >
                                        <a href="/wishlist"
                                            class="sf-with-ul"><span>whishlist</span></a>

                                    </li>

                                     <li class="nav-item mt-1 ">
                                        <a href="/walletOg"
                                            class="sf-with-ul"><span>Wallet</span></a>

                                    </li>
                                    <li>
                                        <a href="/cart"
                                            class="sf-with-ul"><span>Cart</span></a>

                                    </li>

                                   <li>
                                        <a href="/editaddress"
                                            class="sf-with-ul"><span>Edit Address</span></a>

                                    </li>

                                    <li class="nav-item ">
                                        <a href="/logout" class="sf-with-ul"><span>Sign
                                                Out</span></a>

                                    </li>
                                    {{/if}}
                    </ul>
                </nav><!-- End .mobile-nav -->
            </div><!-- .End .tab-pane -->
            
        </div><!-- End .tab-content -->

        
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->