<!DOCTYPE html>
<html lang="en">

<body>
    <div class="page-wrapper">
        <main class="main">


            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">

                                    <div class="row">
                                        <figure class="product-main-image">

                                            <img id="product-zoom" src="/images/product/{{product.img.[0]}}"
                                                data-zoom-image="/images/product/{{product.img.[0]}}"
                                                alt="product image">

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <a class="product-gallery-item active" href=""
                                                data-image="/images/product/{{product.img.[0]}}"
                                                data-zoom-image="/images/product/{{product.img.[0]}}">
                                                <img src="/images/product/{{product.img.[0]}}" alt="product side">
                                            </a>

                                            <a class="product-gallery-item" href="#"
                                                data-image="/images/product/{{product.img.[1]}}"
                                                data-zoom-image="/images/product/{{product.img.[1]}}">
                                                <img src="/images/product/{{product.img.[1]}}" alt="product cross">
                                            </a>

                                            <a class="product-gallery-item" href="#"
                                                data-image="/images/product/{{product.img.[2]}}"
                                                data-zoom-image="/images/product/{{product.img.[2]}}">
                                                <img src="/images/product/{{product.img.[2]}}" alt="product with model">
                                            </a>

                                            <a class="product-gallery-item" href="#"
                                                data-image="/images/product/{{product.img.[3]}}"
                                                data-zoom-image="/images/product/{{product.img.[3]}}">
                                                <img src="/images/product/{{product.img.[3]}}" alt="product back">
                                            </a>
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->

                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title">{{product.phone}}</h1><!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->

                                    </div><!-- End .rating-container -->

                                    <div class="product-price">

                                        ₹ {{product.price}}
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <h4> {{product.cetagory}}</h4>

                                    </div><!-- End .product-content -->
                                    <div class="product-content">
                                        <p>{{product.description}}</p>

                                    </div><!-- End .product-content -->




                                    <div class="details-filter-row details-row-size">
                                        <label for="qty">Qty:</label>
                                        <div class="product-details-quantity">
                                            <input type="number" id="qty" class="form-control" value="1" min="1"
                                                max="10" step="1" data-decimals="0" required>
                                        </div><!-- End .product-details-quantity -->
                                    </div><!-- End .details-filter-row -->
                                    {{#if notLogin}}
                                    <div class="product-details-action">
                                        <a href="/addToCart/{{product._id}}" class="btn-product btn-cart"><span>add to
                                                cart</span></a>

                                        <div class="details-action-wrapper">
                                            <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to
                                                    Wishlist</span></a>
                                            {{else}}
                                            <div class="product-details-action">
                                                <a href="/login" class="btn-product btn-cart"><span>add to
                                                        cart</span></a>

                                                <div class="details-action-wrapper">
                                                    <a href="/login" class="btn-product btn-wishlist"
                                                        title="Wishlist"><span>Add to
                                                            Wishlist</span></a>
                                                    {{/if}}
                                                </div><!-- End .details-action-wrapper -->
                                            </div><!-- End .product-details-action -->



                                        </div><!-- End .product-details -->
                                    </div><!-- End .col-md-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .product-details-top -->





                            <div class="tab-content tab-content-carousel">
                                <div class="tab-pane p-0 fade show active" id="products-featured-tab" role="tabpanel"
                                    aria-labelledby="products-featured-link">
                                    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow"
                                        data-toggle="owl" data-owl-options='{
                                "nav": true, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "600": {
                                        "items":2
                                    },
                                    "992": {
                                        "items":3
                                    },
                                    "1200": {
                                        "items":4
                                    }
                                }
                            }'>
                                        {{#each products}}
                                        <div class="product product-2">
                                            <figure class="product-media">
                                                <a href="/productview/{{this._id}}">
                                                    <img src="/images/product/{{this.img.[0]}}" alt="Product image"
                                                        class="product-image" style="width: 250px; height:300px;">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="/addToWishlist/{{this._id}}"
                                                        class="btn-product-icon btn-wishlist btn-expandable"><span>add
                                                            to
                                                            wishlist</span></a>
                                                </div><!-- End .product-action -->

                                                <div class="product-action product-action-dark">
                                                    {{#if notlogin}}
                                                    <a href="/addToCart/{{this._id}}" class="btn-product btn-cart"
                                                        title="Add to cart"><span>add to cart</span></a>
                                                    {{else}}
                                                    <a href="/login" class="btn-product btn-cart"
                                                        title="Add to cart"><span> add to cart</span></a>

                                                    {{/if}}
                                                    <a href="/productview/{{this._id}}"
                                                        class="btn-product btn-quickview" title="Quick view"><span>quick
                                                            view</span></a>
                                                </div><!-- End .product-action -->


                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#"></a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="#">{{this.phone}}</a></h3>
                                                <!-- End .product-title -->
                                                <div class="product-price">

                                                    {{#if this.Percentage}}
                                                    <span>₹{{this.offPrice}}&nbsp;&nbsp;</span>
                                                    ₹ <s>{{this.originalPrice}} </s>
                                                    <span>&nbsp;&nbsp;{{this.Percentage}}%</span>
                                                    {{else}}
                                                    ₹{{this.price}}
                                                    {{/if}}

                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                        {{/each}}







                                    </div><!-- .End .tab-pane -->
                                    <div class="tab-pane p-0 fade" id="products-sale-tab" role="tabpanel"
                                        aria-labelledby="products-sale-link">

                                    </div><!-- .End .tab-pane -->
                                    <div class="tab-pane p-0 fade" id="products-top-tab" role="tabpanel"
                                        aria-labelledby="products-top-link">

                                    </div><!-- .End .tab-pane -->
                                </div><!-- End .tab-content -->
                            </div><!-- End .container -->
                        </div><!-- End .owl-carousel -->
                    </div><!-- End .container -->
                </div><!-- End .page-content -->
        </main><!-- End .main -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>



    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li>
                                    <a href="/"  class="sf-with-ul">Home</a>
                                </li>
                                <li>
                                    <a href="/product/?page=1" class="sf-with-ul">Product</a>
                                </li>
                                {{#if userName}}
                                <li>
                                    <a href="/wallet" class="sf-with-ul">MY Account</a>
                                </li>
                                
                                <li>
                                        <a class="sf-with-ul" id="tab-dashboard-link"
                                            data-toggle="tab" href="#tab-dashboard">Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="/order" class="sf-with-ul"><span>Orders</span></a>
                                    </li>
                                    <li
                                    >
                                        <a href="/wishlist"
                                            class="sf-with-ul"><span>whishlist</span></a>

                                    </li>

                                     <li class="nav-item mt-1 ">
                                        <a href="/walletOg"
                                            class="sf-with-ul"><span>Wallet</span></a>

                                    </li>
                                    <li>
                                        <a href="/cart"
                                            class="sf-with-ul"><span>Cart</span></a>

                                    </li>

                                   <li>
                                        <a href="/editaddress"
                                            class="sf-with-ul"><span>Edit Address</span></a>

                                    </li>

                                    <li class="nav-item ">
                                        <a href="/logout" class="sf-with-ul"><span>Sign
                                                Out</span></a>

                                    </li>
                                    {{/if}}
                </ul>
            </nav><!-- End .mobile-nav -->

           
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                        aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>

                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!-- Plugins JS File -->

</body>


<!-- molla/product.html  22 Nov 2019 09:55:05 GMT -->

</html>