<!DOCTYPE html>
<html lang="en">


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->

<head>



    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userAssets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userAssets/css/style.css">
</head>

<body>
    <div class="page-wrapper">
        <main class="main">
            <div class="page-header text-center" style="background-image: url('/userAssets/images/page-header-bg.jpg');height: 70px; ">
                <div class="container">
                    <h1 class="page-title">My Account<span>TelMart</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->

            <div class="page-content">
                <div class="dashboard">
                    <div class="container-fluid">
                        <div class="row">
                            <aside class="col-md-4 col-lg-3">
                                <ul class="nav nav-dashboard flex-column mt-3 mb-md-0" role="tablist">
                                    <li class="nav-item mt-1">
                                        <a class="btn btn-primary btn-rounded" id="tab-dashboard-link"
                                            data-toggle="tab" href="#tab-dashboard">Dashboard</a>
                                    </li>
                                    <li class="nav-item mt-1">
                                        <a href="/order" class="btn btn-primary btn-rounded"><span>Orders</span></a>
                                    </li>
                                    <li class="nav-item mt-1">
                                        <a href="/wishlist"
                                            class="btn btn-primary btn-rounded  "><span>whishlist</span></a>

                                    </li>

                                     <li class="nav-item mt-1 ">
                                        <a href="/walletOg"
                                            class="btn btn-primary btn-rounded "><span>Wallet</span></a>

                                    </li>
                                    <li class="nav-item mt-1">
                                        <a href="/cart"
                                            class="btn btn-primary btn-rounded  "><span>Cart</span></a>

                                    </li>

                                   <li class="nav-item mt-1">
                                        <a href="/editaddress"
                                            class="btn btn-primary btn-rounded  "><span>Edit Address</span></a>

                                    </li>

                                    <li class="nav-item ">
                                        <a href="/logout" class="btn btn-primary btn-rounded  mt-1"><span>Sign
                                                Out</span></a>

                                    </li>
                                </ul>
                            </aside><!-- End .col-lg-3 -->

                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">

                                        {{!-- <div>
                                            <h4 class="= text-center col-md-8 m-2">User Details</h4>
                                        </div> --}}
                                        <div>
                                            {{!-- <h4>User Profile</h4> --}}
                                            {{#if errMessage}}
                                            <div class="text-center">
                                                <p style="color: #FCB941 ;">{{errMessage}}</p>
                                            </div>
                                            {{/if}}
                                            <p id="errMsg" class="text-danger text-center col-md-8"></p>
                                            <form action="/saveChanges" method="post" onsubmit="return check()">
                                                <div class="row col-md-8 align  mt-5">
                                                    <div class="col-md-2">
                                                        <h6>Name *</h6>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control"
                                                            value=" {{userDetails.name}}"
                                                            style="  border: 2px solid lightblue;border-radius: 4px;"
                                                            name="name" onkeyup="validateName()">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <h6>Email *</h6>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control"
                                                            value="{{userDetails.email}}"
                                                            style="  border: 2px solid lightblue;border-radius: 4px;"
                                                            name="email" onkeyup="validEmail()">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <h6>Phone *</h6>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <input type="text" class="form-control"
                                                            value="{{userDetails.number}} "
                                                            style="  border: 2px solid lightblue;border-radius: 4px;"
                                                            name="number" onkeyup="validPhoneumber()">
                                                        <input type="text" class="form-control"
                                                            value="{{UserDetails._id}}"
                                                            style="  border: 2px solid lightblue;border-radius: 4px;"
                                                            name="id" hidden>
                                                    </div>
                                                    <div class="text-center col-md-12 py-3" id="bDiv">
                                                        <button class="btn btn-primary" type="submit"
                                                            onclick="swalforChange()"> <span>Save
                                                                Changes</span></button>
                                                        </button>


                                                    </div>
                                                </div>
                                            </form>
                                            Want to change password ? </th>
                                            <td class="px-5"><a href="#signin-modal" data-toggle="modal"> click Here</a>
                                        </div>
                                        <hr>
                                        <div>
                                            <h4 class="text-primary">Reffer a Friend</h4>
                                            <small>Reffer your friend and gain the reward</small>
                                        </div>
                                        <div class="d-flex">
                                            <!-- The text field -->
                                            <div class="col-4">
                                                <input type="text" value="{{userDetails.refferal}}" id="myInput"
                                                    class="form-control"
                                                    style="border: 2px solid lightblue;border-radius: 4px;">
                                            </div>

                                            <!-- The button used to copy the text -->
                                            <div>
                                                <button onclick="myFunction()" class="btn btn-success rounded">Copy
                                                    refferal</button>
                                            </div>
                                        </div>
                                    </div><!-- .End .tab-pane -->
                                </div>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" index
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
        <nav class="mobile-nav">
            <ul class="mobile-menu">
               
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->


    <!-- Plugins JS File -->
    <script src="/userAssets/js/jquery.min.js"></script>
    <script src="/userAssets/js/bootstrap.bundle.min.js"></script>
    <!-- Main JS File -->
    <script src="/userAssets/js/main.js"></script>
</body>
<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>

                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active " id="signin-tab" href="#signin" aria-selected="true">Change
                                    Password</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                aria-labelledby="signin-tab">
                                <form id="passForm">
                                    <div class="form-group">
                                        <label for="singin-email">Your Current Password *</label>
                                        <input type="password" class="form-control" id="singin-email" name="CPass"
                                            required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password">New Password</label>
                                        <input type="password" class="form-control" id="singin-password" name="Npass"
                                            required>
                                    </div><!-- End .form-group -->
                                    <input type="text" value="{{userDetails._id}}" hidden>
                                    <p id="passTrue"></p>
                                    <p id="passFalse" class="text-danger text-center"></p>
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SUBMIT</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                    </div><!-- End .form-footer -->
                                </form>
                            </div><!-- End .row -->
                        </div><!-- End .form-choice -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .form-tab -->
        </div><!-- End .form-box -->
    </div><!-- End .modal-body -->
</div><!-- End .modal-content -->
</div><!-- End .modal-dialog -->
</div><!-- End .modal -->

</html>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

    $('#passForm').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/changePassword',
            method: 'post',
            data: $('#passForm').serialize(),
            success: (response) => {
                console.log(response)
                if (response.check) {
                      location.reload();
                   
                      
                    
                } else {
                    document.getElementById('passFalse').innerHTML = "Password Doesnt Match"
                }
            }
        })
    })

    function swalforChange() {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        })

    }





    function show() {
        document.getElementById('button').style.display = "block"
        document.getElementById('bDiv').style.textAlign = "center"
    }

</script>


<script>
    function myFunction() {
        // Get the text field
        var copyText = document.getElementById("myInput");

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);

        // Alert the copied text

        swal("Refferal copied to clipboard!", copyText.value);
    }
</script>

<script>
    var errorName = document.getElementById('name')
    var errorEmail = document.getElementById('email')
    var errorPhonenumber = document.getElementById('phonenumbers')
    function validateName() {
        const name = document.getElementById('Name').value;
        if (name == "") {
            errorName.innerHTML = 'Enter your Name'
            return false
        }
        if (!name.match(/^[a-zA-Z ]*$/)) {
            errorName.innerHTML = 'Number are not allowed'
            return false
        }
        if (name.match(/^[ ]*$/)) {
            errorName.innerHTML = 'enter a valid name'
            return false
        }
        errorName.innerHTML = null
        return true
    }
    function validEmail() {
        const email = document.getElementById('Email').value
        if (email == "") {
            errorEmail.innerHTML = "enter you email address"
            return false
        }
        if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
            errorEmail.innerHTML = 'enter a proper email address'
            return false
        }
        errorEmail.innerHTML = null
        return true
    }


    function validPhoneumber() {
        const mob = document.getElementById('phonenumber').value
        if (mob == "") {
            errorPhonenumber.innerHTML = "enter a phonenumber"
            return false
        }
        if (mob.length < 10 || !mob.match(/^\d*$/)) {
            errorPhonenumber.innerHTML = "Please Enter the valide phone number"
            return false
        }
        errorPhonenumber.innerHTML = null
        return true
    }

    function check() {
        let validatearray = [!validateName(), !validEmail(), !validPhoneumber()]

        return validatearray.every(validation)


    }



    function validation() {
        if (!validateName() || !validEmail() || !validPhoneumber()) {
            return false
        }
        return true
    }
</script>